/* reset */

*{    
    scroll-behavior: smooth;    
}

body{
    font-family: 'Josefin Sans', sans-serif;    
    color: #666666; 
}

:root{
    
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;  
}

ul{
    list-style: none;
}

#scroll i{
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 400;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 4rem;
    transition-duration: 500ms;
}
#scroll i:hover{
    background-color: #00f;
    color: #fff;           
}

/* global */


/* elments */
.header-top{
    background-color: #0c65ed;
    padding: 10px 0;
    color: #fff;
}

.header-top{
    background-color: #0c65ed;
    padding: 10px 0;
}

.social-icons i{
    
    text-align: center;
    padding-top: 5px;
    padding-right: 12px;   
    font-size: 18px;           
    color: #fff;
}

.location i,.contact-info i{
    position: absolute;
    font-size: 16px;
    top: 7px;
    z-index: 5;
}
.location p,.contact-info p{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}



