/* reset */

*{    
    scroll-behavior: smooth;    
}

body{
    font-family: 'Josefin Sans', sans-serif;    
    color: #666666; 
}

:root{
    
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;  
}

ul{
    list-style: none;
}

#scroll i{
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 400;
    border-radius: 50%;
    color: #fff;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 4rem;
    transition-duration: 500ms;
}
#scroll i:hover{
    background-color: #00f;
    color: #fff;           
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.8) !important; 
}

/* global */


/* elments */
.header-top{
    background-color: #0c65ed;
    padding: 10px 0;
    color: #fff;
}

.header-top{
    background-color: #0c65ed;
    padding: 10px 0;
}

.social-icons i{
    
    text-align: center;
    padding-top: 5px;
    padding-right: 12px;   
    font-size: 18px;           
    color: #fff;
}

.location i,.contact-info i{
    position: absolute;
    font-size: 16px;
    top: 7px;
    z-index: 5;
}
.location p,.contact-info p{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.navbar-nav li{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 37px 0 37px;
    margin-left: 1.2rem;
    color: #161616;
}
.dropdown-menu{
    border-top: 2px solid #0c65ed;
}

.navbar-nav li ul li{
    text-transform: none;    
    padding: 3px;
}
.carousel-item img{
    width: 100%;
    height: 90vh;    
    object-fit: cover;
}

.carousel-indicators{     
    top: 9%;
    left: 97%    
}
.carousel-indicators [data-bs-target]{
    width: 9px;
    height: 9px;
}

.carousel-caption{
    top: 50%;
}
.carousel-caption h2{    
    font-size: 60px;
    font-weight: 600;
    margin: 0 auto 30px;
    text-transform: capitalize;      
}
.carousel-caption p{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto 10px auto;
    max-width: 600px;
}

